<div id="admin-main">
	<div class="container">	
		<div class="navbar navbar-default navbar-fixed-top admin-nav">
			<div class="container">	
				<div class="navbar-header">
					<a href="#" class="navbar-brand adminlogo" alt="Logo"><img src="images/logofull.png" alt="brand" class="mymainlogo pull-left">
						<h4 class="inline">&ensp;Admin Page</h4>
					</a>
				</div>

				<div class="nav navbar-nav navbar-right">
					<p class="pull-left navbar-userdetails">Logged in as&nbsp;
						<a href="#"><span class="glyphicon glyphicon-user"></span>&nbsp;
							<span class="adminuser">user</span>
						</a>
						&nbsp;|&nbsp;
						<a href="#" class="logout"><span class="glyphicon glyphicon-log-out"></span>&nbsp;Logout</a>
					</p>
				</div>
			</div>
		</div>  <!-- End of Navbar -->
	
		<div class="row col-sm-12 main-div" id="admin-body">
			<div class="col-sm-3 admin-action-list">
				<div class="list-group admin-operations">
					<a href="#" class="list-group-item list-op-home"><span class="glyphicon glyphicon-home"></span>&nbsp;Home</a>
					<a href="#" class="list-group-item list-op-users"><span class="glyphicon glyphicon-user"></span>&nbsp;Manage Users/Admins</a>
					<a href="#" class="list-group-item list-op-forms"><span class="glyphicon glyphicon-comment"></span>&nbsp;Manage Surveys</a>
					<a href="#" class="list-group-item list-op-attendance"><span class="glyphicon glyphicon-calendar"></span>&nbsp;Attendance</a>
					<a href="#" class="list-group-item list-op-usersettings"><span class="glyphicon glyphicon-cog"></span>&nbsp;User Settings</a>
				</div>
			</div>
			<div class="col-sm-9 admin-action-div">
				
			</div>
		</div>
	</div> <!-- End of Container -->
</div> <!-- End of Main Container -->
<footer>
	<div class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header pull-right">
				<p>Developed with <span class="glyphicon glyphicon-heart"></span> by Stackroute Wave-9 Batch</p>
			</div>
		</div> <!-- End of Container -->
	</div> <!-- End of Navbar -->
</footer>
<script src="includes/jquery/myqueryadmin.js"></script>