/*

My Custom CSS for Login/SignUp Page
===================================

/* --------------------------------------
   Layout
   -------------------------------------- */
   

/* --------------------------------------
   Navbar
   -------------------------------------- */
   
/* --------------------------------------
   Login & Sign-Up
   -------------------------------------- */
   

/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */

#MainPage{
	margin-top: 110px;
}
/*.esp {
    background-color: #2f3339;
    color: #fff;
    text-align: center;
    padding: 500px 500px 186px 0;
    /*padding: 8rem 0 11.625rem 0;*/
/*}*/
/*.section-title.centered {
    text-align: center;
}*/
/*.section-title {
    /*margin: 0 auto 90px;
   /* margin: 0 auto 5.625rem;
    max-width: 730px;*/
    /*max-width: 45.625rem;*/
/*}*/
/*/*/
/*@media (min-width: 34em){
.esp .card {
    width: 50%;
}
*/
/*.esp .card {
    border: 0;
    background: none;
    float: left;
}*/
.card {
    position: relative;
    display: block;
    margin-bottom: 0.75rem;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 0.25rem;
    padding: 20px 20px 20px 20px;
}
/*.esp .card .card-block {
    background: rgba(0,0,0,0.2);
    border: 0;
    width: 100%;
    border-radius: 3px;
    border-radius: 0.1875rem;*/
    /*margin-bottom: 16px;
    margin-bottom: 1rem;
    /*height: 210px;*/
   /* height: 13.125rem;*/
    /*padding: 16px;*/
  /*  padding: 1rem;
}*/
/*.esp .card .card-block img {
    width: 50%;
    position: relative;
    top: 50%;*/
   /* -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);*/
    /*transform: translateY(-50%);*/
/*}*/
@media (max-width: 480px) {
  
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
   	
}

/* Large desktop */
@media (min-width: 1200px) {
   
}