<!-- <div class="container" id="student-main"> -->
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header logoheader">
				<a href="#" class="navbar-brand mylogo" alt="Logo"><img src="images/logofull.png" alt="brand" class="mymainlogo"></a>
			</div>
			<div class="nav navbar-nav navbar-right dropdown"><span>Welcome :</span>
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>&nbsp;
							<span class="studentUser">user</span><span class="caret"></span>
						</a>
						 <ul class="dropdown-menu">
    					<li><a href="#">Account Setting</a></li>
					    <li><a href="#">Attendeance Report</a></li>
					   <!--  <li><a href="#">LogOut</a></li> -->
					  </ul>
						&nbsp;|&nbsp;
						<a href="#"><span class="glyphicon glyphicon-log-out"></span>&nbsp;Logout</a>
					
				</div>
			</div>
		</div>  <!-- End of Navbar -->
		</div> <!-- End of Container -->
	</div> <!-- End of Navbar -->
<!-- </div> End of Main Container
 -->
<div class="container" id="MainPage">
	<div class="row">
      <div class="card col-md-4 col--6">
        <div class="card-block">
          <img alt="Mailchimp logo" data-no-retina="true" src="../images/DigitalAttendance.jpg" />
        </div>
      </div>
      <div class="card col-md-4 col--6">
        <div class="card-block">
          <img alt="Campaign Monitor logo" data-no-retina="true" src="../images/DigitalAttendance.jpg"/>
        </div>
      </div>
      <div class="card col-md-4 col--6">
        <div class="card-block">
          <img src="../images/DigitalAttendance.jpg" alt="Salesforce logo" data-no-retina />
        </div>
      </div>
      <div class="card col-md-4 col--6">
        <div class="card-block">
          <img alt="Experian logo" data-no-retina="true" src="../images/DigitalAttendance.jpg" />
        </div>
      </div>
      <div class="card col-md-4 col--6">
        <div class="card-block">
          <img alt="Hubspot logo" data-no-retina="true" src="../images/DigitalAttendance.jpg"  />
        </div>
      </div>
      <div class="card col-md-4 col--6">
        <div class="card-block">
          <img alt="Silverpop logo" data-no-retina="true" src="../images/DigitalAttendance.jpg"  />
        </div>
      </div>
    </div><!--.row -->
  </div><!-- .container -->
</section><!-- .esp -->
</div>



<script src="includes/jquery/myquerystudent.js"></script>