<div id="admin-main">
	<div class="container">	
		<div class="navbar navbar-default navbar-fixed-top admin-nav">
			<div class="container">	
				<div class="navbar-header">
					<a href="#" class="navbar-brand adminlogo" alt="Logo"><img src="images/logofull.png" alt="brand" class="mymainlogo pull-left">
						<h4 class="inline">&ensp;Admin Page</h4>
					</a>
				</div>

				<div class="nav navbar-nav navbar-right">
					<p class="pull-left navbar-userdetails">Logged in as&nbsp;
						<a href="#"><span class="glyphicon glyphicon-user"></span>&nbsp;
							<span class="adminuser">user</span>
						</a>
						&nbsp;|&nbsp;
						<a href="#"><span class="glyphicon glyphicon-log-out"></span>&nbsp;Logout</a>
					</p>
				</div>
			</div>
		</div>  <!-- End of Navbar -->
	
		<div class="row col-sm-12" id="admin-body">
			<div class="col-sm-3 admin-action-list">
				<div class="list-group">
					<a href="#" class="list-group-item">
						Notifications
					</a>
					<a href="#" class="list-group-item">Option 2</a>
					<a href="#" class="list-group-item">Option 3</a>
					<a href="#" class="list-group-item">Option 4</a>
					<a href="#" class="list-group-item">Option 5</a>
				</div>
			</div>
			<div class="col-sm-9 admin-action-div">Admin</div>
		</div>
	</div> <!-- End of Container -->
</div> <!-- End of Main Container -->
<script src="includes/jquery/myqueryadmin.js"></script>