/*

My Custom CSS for Login/SignUp Page
===================================

/* --------------------------------------
   Layout
   -------------------------------------- */
   

/* --------------------------------------
   Navbar
   -------------------------------------- */
   
/* --------------------------------------
   Login & Sign-Up
   -------------------------------------- */
   

/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */

#MainPage{
	margin-top: 110px;
}
.pnlAttendence{
  height: 253px;
}
.panel-title{text-align: center;}
   #features{ margin-top: 10px;  }
   @media (max-width: 768px) {
    #features{margin-top: 120px;}
    }
  .AtomText{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   text-align: left;
   color: black;
   height: 350px;
 }

.card {
    position: relative;
    display: block;
    margin-bottom: 0.75rem;
    background-color: #fff;
    border: 2px solid #e5e5e5;
    border-radius: 2rem;
    padding: 10px 10px 10px 10px;
    /*margin:1px 1px 1px 1px;*/
}
.secondRow{
  margin-top: 20px;
}
#btnDiv{
  margin-top: 30px !important;
}

#btnDiv, #contentPage,.content, .hiddenData,.requestThumb{
  display: none;
}
.card .card-block img {
    width: 300px;
    height: 175px;
}
.MonthThumb{
  height: 205px;
  
}

@media (max-width: 480px) {
  #features{margin-top: 0px;
  }
    #AttendenceId{
  }
  margin-left: 0px !important;
 
}
.attendenceThumb,.requestThumb{
  margin-left: 0px !important;
}
.presentThumb{
  margin-left: 0px !important;
  margin-right: 0px !important;
}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
   	#AttendenceId{
  margin-left: 0px !important;
  
}
.attendenceThumb,.requestThumb{
  margin-left: 0px !important;
}
.presentThumb{
  margin-left: 0px !important;
  margin-right: 0px !important;
}
}

/* Large desktop */
@media (min-width: 1200px) {
   
}
div#form1{
width:250px;
height:430px;
border:2px solid #a5a5a5;
padding:20px;
background-color:#f3f3f3;
border-radius:3px;
float:left;
text-align:center;
margin-left:100px;
margin-top:50px
}
/*h3,p{
text-align:center;
font-family:'Raleway',sans-serif;
color:#006400
}*/
/*input{
width:100%;
margin:10px 0;
padding:5px;
height:35px;
box-shadow:1px 1px 1px 1px gray;
border-radius:3px
}*/
/*input#submit{
width:100%;
margin:10px 15px 10px 0;
padding:5px;
background-color:#3fb8e8;
box-shadow:0 3px 0 0 #3293ba;
border-radius:3px;
color:#fff;
height:41px;
font-size:16px
}
textarea{
margin:10px 0;
padding:5px;
box-shadow:1px 1px 1px 1px gray;
border-radius:3px
}*/
/*div#container{
margin:50px auto;
width:960px
}*/
/*h2{
font-family:'Raleway',sans-serif;
color:#006400;
text-shadow:1px 1px 1px gray
}*/
.attendenceThumb,.requestThumb{
  margin-left: 80px;
  margin-top: 10px;
}
body{
  background: #f7f5f4;
}
.header{
  background: #272d35;
}
#AttendenceId{
  margin-left: 0px;
  margin-top: 30px;
}
#ReportId{
  margin-top: 30px;

}
.presentThumb{
  margin-left: 30px;
  margin-right: 20px;
}
.btnWell{
  height: 70px;
  background: #ccc;
}

/*.page-header {
    padding-bottom: 9px;
    margin: 20px 0 20px;
    /* border-bottom: 1px solid #eee; */
/*}*/